* {
    box-sizing: border-box;
    line-height: 24px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #777777;
}


/* Start Header */

header {
    background-image: url('../img/banner_bg.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-attachment: fixed;
    background-size: 130%;
    background-clip: border-box;
    height: 800px;
}

.background-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 800px;
}

.custom-nav {
    background-color: white;
    height: 80px;
    z-index: 100;
}

.nav-link {
    color: black;
    font-size: 12px;
    font-weight: 500;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
}

.nav-link:hover {
    color: #52c5fd;
}

.active-link {
    color: #52c5fd;
}

.navbar-toggler-icon {
    background-image: url('../img/menu.png');
    background-position: center;
    background-size: cover;
}

.header-h1 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

.header-h6 {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: 400;
}

.header-p {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 0px 20px
}

.theme-btn {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    background: #f3c300;
    border-radius: 0;
    padding: 5px 30px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.hvr-sweep-to-right::before {
    background-color: #eeb50a;
    color: white;
}


/* Start Header Form*/

.header-form {
    background-color: #04091E;
    padding: 40px 50px 30px;
}

.custom-input {
    background-color: transparent !important;
    border: 1px solid #2b3146 !important;
    font-size: 13px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.nice-select {
    background-color: transparent;
    border: 1px solid #2b3146;
    font-size: 13px;
    border-radius: 0;
}

.h-40 {
    height: 40px;
}

.button-hover {
    color: black;
    transition: 0.5 color;
    -webkit-transition: 0.5 color;
    -moz-transition: 0.5 color;
    -ms-transition: 0.5 color;
    -o-transition: 0.5 color;
}

.button-hover:hover {
    color: white;
}


/* End Header Form*/


/* End Header*/


/* Start Gallary*/

.img-btn {
    background: #f3c300;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.rounded-8 {
    border-radius: 0.8rem !important;
    -webkit-border-radius: 0.8rem !important;
    -moz-border-radius: 0.8rem !important;
    -ms-border-radius: 0.8rem !important;
    -o-border-radius: 0.8rem !important;
}

.p-color {
    color: #52c5fd;
}

.gallary-img {
    transition: 1s transform;
    -webkit-transition: 1s transform;
    -moz-transition: 1s transform;
    -ms-transition: 1s transform;
    -o-transition: 1s transform;
}

.gallary-img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}


/* End Gallary*/


/*Start Royal Section*/

.royal-section {
    background-image: url('../img/facilites_bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.section-overlay {
    background-color: rgba(4, 9, 30, 0.8);
}

.royal-section-card {
    border: 1px solid #777777;
    border-radius: 7px;
    padding: 31px 40px 37px;
    background-color: rgba(249, 249, 255, 0.102);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.p-13px {
    font-size: 13px;
}

.icon-color {
    color: #f3c300;
}

.fw-600 {
    font-weight: 600;
}


/* Owl Carsol Start*/

.owl-dots {
    margin-top: 70px !important;
}

.owl-dots button span {
    height: 15px !important;
    width: 15px !important;
    background-color: #f7e9b3 !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}

.owl-dots button span:hover {
    background-color: #f3c300 !important;
}

.owl-dot.active span {
    background-color: #f3c300 !important;
}


/* Owl Carsol End*/

.p-12px {
    font-size: 12px;
}

.latest-image img {
    transition: 2s transform;
    -webkit-transition: 2s transform;
    -moz-transition: 2s transform;
    -ms-transition: 2s transform;
    -o-transition: 2s transform;
}

.latest-image img:hover {
    transform: rotate(13deg) scale(1.3);
    -webkit-transform: rotate(13deg) scale(1.3);
    -moz-transform: rotate(13deg) scale(1.3);
    -ms-transform: rotate(13deg) scale(1.3);
    -o-transform: rotate(13deg) scale(1.3);
}

footer {
    background-color: #04091e;
}

.form-control:active {
    background-color: black !important;
    outline: none !important;
}

.form-control:focus {
    background-color: transparent !important;
    box-shadow: none !important;
}

.footer-arrow {
    background-color: #f3c300;
}

footer a {
    transition: 1s color;
    -webkit-transition: 1s color;
    -moz-transition: 1s color;
    -ms-transition: 1s color;
    -o-transition: 1s color;
}

footer a:hover {
    color: #f3c300 !important;
}

footer a i {
    transition: 1s color;
    -webkit-transition: 1s color;
    -moz-transition: 1s color;
    -ms-transition: 1s color;
    -o-transition: 1s color;
}

footer a i:hover {
    color: #f3c300 !important;
}

.footer-hr {
    border: 0.1px solid red;
}